<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--import bootstrap-->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <!--import the Lobster font from Google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">

    {% load static %}
   <!-- # link to the local CSS file myblog.css -->
    <link rel="stylesheet" href="/static/css/myblog.css" type="text/css">

    <title>Django Blog</title>
</head>
<body>
    <nav class="page-header">
        <h2 class="float-left"><a href=""> Django Blog</a></h2>
        <ul>
            <li> <a href=""> Home </a> </li>
            <li> <a href="profile"> Profile </a> </li>
            <li> <a href="blogs"> My blogs </a> </li>
            <li> <a href="#"> Logout </a> </li>
        </ul>
    </nav>

    <div class="content container-fluid">
        <div class="row">
                {% block content %}
                {% endblock %}

        </div>
    </div>

<footer>
    <h5 class="text-center"> © 2021 Juliet Mutinda </h5>
</footer>

</body>
</html>