<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    {% load static %}

    <!-- import bootstrap js & css-->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

    <!-- import the Lobster font from Google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">

    <!-- Montserrat font -->
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet" type="text/css">

    <!-- Font awesome -->
    <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>

    <!-- local CSS file -->
    <link rel="stylesheet" href="/static/css/myblog.css" type="text/css">

    <title> Django Blog </title>

</head>

<body>
    <nav class="page-header">
        <a href="{% url 'home' %}" class="float-left"> Django Blog </a>
        <ul>
            <li> <a href=""> Explore </a> </li>
            <li> <a href="{% url 'profile' %}"> Profile </a> </li>
            <li> <a href="{% url 'logout' %}"> Logout </a> </li>
        </ul>
    </nav>


    <div class="container-fluid">
        <h3> Blog of the week </h3>
        {{ featured_post.title }}
        {{ featured_post.text }}
    </div>
    <hr class="featured-hr" />

    <div class="container">
        <main class="home">
            <h2 class="latest-header"> Latest blogs </h2>
            <ul>
                {% for blog in blogs %}
                    <li>
                        <h4> <a href="{% url 'post_detail' blog.pk %}"> {{ blog.title }} </a> </h4>
                        <small> Posted by <strong> {{ blog.author.first_name }} {{ blog.author.last_name }}</strong> on <strong> {{ blog.created_date|date:"M j, Y" }} </strong> </small>
                        <p> {{ blog.text }} </p>
                    </li>
                {% endfor %}
            </ul>
        </main>
    </div>


    <footer>
        <h6 class="text-center"> © 2021 Juliet Mutinda. All rights reserved. </h6>
    </footer>

</body>
</html>