{% extends 'base.html' %}

{% block title %}
    Delete category
{% endblock %}

{% block content %}

    {% if user.is_authenticated %}
        <main class="delete_category">
            <div class="form-group shadow">
                <h3> Delete category '{{ category.name }}' </h3>
                <form method="POST">
                    {% csrf_token %}
                    <p> Are you sure you want to delete this blog?? </p>
                    <button class="btn btn-danger"> Delete blog </button>
                </form>
            </div>
        </main>
    {% else %}
        <main class="delete_category_redirect">
            <h5> Please <a href="{% url 'login' %}"> login </a> first to view this page </h5>
            <h6> If you do not have an account, register <a href="{% url 'register' %}"> here </a>.</h6>
        </main>
    {% endif %}

{% endblock %}
