{% extends 'base.html' %}

{% block title %}
    {{ post.title }}
{% endblock %}

{% block content %}

    <main class="post_detail">
        <h3> {{ post.title }} </h3>
        <hr />
        {{ post.text|safe }} <br>
        {% if user.is_authenticated %}
            <button class="btn btn-secondary"> <a href="{% url 'edit_post' post.pk %}"> Edit </a> </button>
            <button class="btn btn-danger"> <a href="{% url 'delete_post' post.pk %}"> Delete </a> </button>
        {% endif %}
    </main>

{% endblock %}
