{% extends 'base.html' %}

{% block content %}

    {% if user.is_authenticated %}
        <main class="profile">
            <h4> Bio Details </h4>
            <div class="row">
                <div class="col-lg-2 col-sm-2"> Names: </div> <div class="col-lg-10 col-sm-10"> {{ user.first_name }} {{ user.last_name }} </div>
                <div class="col-lg-2 col-sm-2"> Gender: </div> <div class="col-lg-10 col-sm-10"> some text one </div>
                <div class="col-lg-2 col-sm-2"> Hobbies: </div> <div class="col-lg-10 col-sm-10"> some text two </div>
                <div class="col-lg-2 col-sm-2"> Role: </div> <div class="col-lg-10 col-sm-10"> some text three </div>
            </div>

            <div class="my-posts">
                <hr />
                <h4> Blogs i have authored </h4>
                <hr />
                <ul> {% for post in user_posts %}
                    <li>
                        <div class='card'>
                            <h5 class="card-title"> <a href=""> {{ post.title }} </a> </h5>
                            <div class="card-body">
                                <small> Published on {{ post.created_date|date:"M j, Y" }} </small>
                            </div>
                            <div class="card-body">
                                <div class='card-text'> <p> {{ post.text|slice:"0:445"|add:" ..."|safe }} </p> </div>
                                <p class="btn btn-sm"> <a href="" style="color: #121212;"> Read blog </a> </p>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </main>
    {% else %}
        <main class="profile_redirect">
            <h5> Please <a href="{% url 'login' %}"> login </a> first to view this page </h5>
            <h6> If you do not have an account, register <a href="{% url 'register' %}"> here </a>.</h6>
        </main>
    {% endif %}

{% endblock %}