{% extends 'base.html' %}

{% block content %}

    {% if user.is_authenticated %}
        <main class="profile">
            <h4> Bio Details </h4>
            <div class="row">
                <div class="col-lg-2 col-sm-2"> Names: </div> <div class="col-lg-10 col-sm-10"> {{ user.first_name }} {{ user.last_name }} </div>
                <div class="col-lg-2 col-sm-2"> Gender: </div> <div class="col-lg-10 col-sm-10"> some text one </div>
                <div class="col-lg-2 col-sm-2"> Hobbies: </div> <div class="col-lg-10 col-sm-10"> some text two </div>
                <div class="col-lg-2 col-sm-2"> Role: </div> <div class="col-lg-10 col-sm-10"> some text three </div>
            </div>

            <div class="my-posts">
                <hr />
                <h4> Blogs i have authored </h4>
                <hr />
                <ul>
                    {% for post in user_posts %}
                    <li>
                        <h5> <a href="{% url 'post_detail' post.pk %}"> {{ post.title }} </a> </h5>
                        <small> Published on {{ post.created_date|date:"M j, Y" }} </small> <br>
                        {{ post.text|slice:"0:400"|add:" ..."|safe }}
                        <p class="btn btn-sm"> <a href="{% url 'post_detail' post.pk %}"> Read blog </a> </p>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </main>
    {% else %}
        <main class="profile_redirect">
            <h5> Please <a href="{% url 'login' %}"> login </a> first to view this page </h5>
            <h6> If you do not have an account, register <a href="{% url 'register' %}"> here </a>.</h6>
        </main>
    {% endif %}

{% endblock %}